<!--   Core JS Files   -->
<script src="{{ ASSETS_ROOT }}/js/core/popper.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/core/bootstrap.min.js"></script>

<script src="{{ ASSETS_ROOT }}/js/plugins/perfect-scrollbar.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/plugins/smooth-scrollbar.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/plugins/chartjs.min.js"></script>

<script src="{{ ASSETS_ROOT }}/js/dark-mode-handler.js"></script>

{% load static %}

<script src="{% static 'orders_assets/js/charts.js' %}"></script>
<script src="{% static 'assets/vendor/js-cookie/dist/js.cookie.js' %}"></script>
<script src="{% static 'assets/vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor/notyf/notyf.min.js' %}"></script>
<script src="{% static 'assets/js/notify.js' %}"></script>

{% if 'products' in segment %}
<script src="{% static 'products_assets/js/forms.js' %}"></script>
{% endif %}

{% if 'orders' in segment %}
<script src="{% static 'orders_assets/js/forms.js' %}"></script>
{% endif %}

<script>
  {% if messages %}
    {% for message in messages %}
      notification['{{ message.tags }}']("<p>" + '{{ message|capfirst }}' + "</p>");
    {% endfor %}
  {% endif %}
</script>