<!--   Core JS Files   -->
<script src="{{ ASSETS_ROOT }}/js/core/popper.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/core/bootstrap.min.js"></script>

<script src="{{ ASSETS_ROOT }}/js/plugins/perfect-scrollbar.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/plugins/smooth-scrollbar.min.js"></script>

<script src="{{ ASSETS_ROOT }}/js/dark-mode-handler.js"></script>

{% load static %}

<script src="{% static 'assets/vendor/js-cookie/dist/js.cookie.js' %}"></script>
<script src="{% static 'assets/vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor/notyf/notyf.min.js' %}"></script>
<script type="application/javascript" src="{% static 'assets/js/notify.js' %}"></script>

<script type="application/javascript" src="{% static 'clients_assets/js/clients_script.js' %}"></script>
<script>
  {% if messages %}
  {% for message in messages %}
  notification['{{ message.tags }}']("<p>" + '{{ message|capfirst }}' + "</p>");
  {% endfor %}
  {% endif %}
</script>