{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Заказы {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
table {
    border-collapse: collapse; /* Убирает пространство между ячейками */
    border-spacing: 0; /* Устанавливает расстояние между ячейками на 0 */
}
</style>
{% endblock stylesheets %}
{% block content %}

<div class="container-fluid py-4">

  <div class="row">
    <div class="col-xl-12">
      <div class="card" id="ordersList">
        <div class="card-header border-0 pb-2">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Заказы</h3>
            </div>
            <div class="col text-end">
              {#  <form action="">{% csrf_token %}</form> #}
              <a class="btn bg-gradient-dark mb-0 ms-auto get-order-form" href="{% url 'api/orders' %}">
                <i class="fas fa-plus me-2"></i>Новый заказ
              </a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Orders table -->
          <table class="table table-borderless align-items-center table-flush orders-list">
            <thead class="thead-light">
              <tr>
                <th class="text-center" scope="col">ФИО</th>
                <th class="text-center" scope="col">ТГ</th>
                <th class="text-center" scope="col">Номер</th>
                <th class="text-center" scope="col">Продукт</th>
                <th class="text-center" scope="col">Штук</th>
                <th class="text-center" scope="col">Цена</th>
                <th class="text-center" scope="col">Адрес</th>
                <th class="text-center" scope="col">Комментарий</th>
                <th class="text-center" scope="col">Приоритет</th>
                <th class="text-center" scope="col">Создан</th>
                <th class="text-center" scope="col"> &nbsp;</th>
                <th class="text-center" scope="col"> &nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {% if orders %}
                {% for order in orders %}
                  {% include "orders/row_item.html" %}
                {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>

        {% if orders %}
          {{ orders.pagination }}
        {% endif %}
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
{% endblock javascripts %}