{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Клиенты {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4">

  <div class="row">
    <div class="col-xl-12">
      <div class="card" id="ordersList">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Заказы</h3>
            </div>
            <div class="col text-end">
              {#  <form action="">{% csrf_token %}</form> #}
              <a class="btn bg-gradient-dark mb-0 ms-auto get-order-form" href="{% url 'api/orders' %}">
                <i class="fas fa-plus me-2"></i>Новый заказ
              </a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Orders table -->
          <table class="table align-items-center table-flush orders-list">
            <thead class="thead-light">
              <tr>
                <th class="text-center" scope="col">ID</th>
                <th class="text-center" scope="col">Клиент</th>
                <th class="text-center" scope="col">Продукт</th>
                <th class="text-center" scope="col">Количество</th>
                <th class="text-center" scope="col">Цена продажи</th>
                <th class="text-center" scope="col">Адрес</th>
                <th class="text-center" scope="col">Комментарий</th>
                <th class="text-center" scope="col">Приоритет</th>
                <th class="text-center" scope="col"> &nbsp;</th>
                <th class="text-center" scope="col"> &nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {% if orders %}
                {% for order in orders %}
                  {% include "orders/row_item.html" %}
                {% endfor %}
              {% endif %}
            </tbody>
          </table>

          {% if orders %}
            {{ orders.pagination }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
{% endblock javascripts %}