<div class="modal-body p-0">
    <div class="card p-4">
        <div class="d-grid justify-content-md-end">
            <button type="button" class="btn-close align-items-end" data-bs-dismiss="modal"
                aria-label="Close">X</button>
        </div>
        <div class="card-header border-0 text-center pb-0">
            <h2 class="mb-0">{% if form.instance.id %}Редактирование продукта {{ form.instance.name }}{% else %}Новый продукт{% endif %}</h2>
        </div>
        <div class="card-body">
            <!-- Form -->
            <form method="{% if form.instance.id %}PUT{% else %}POST{% endif %}"
                action="{% if form.instance.id %}{% url 'api/products' form.instance.id %}{% else %}{% url 'api/products' %}{% endif %}">
                {% for field in form %}
                <div class="form-group mb-4">
                    {{ field.label_tag }}{{ field }}
                </div>
                {% endfor %}
                <div class="d-grid">
                    <button type="submit" class="btn btn-block btn-primary save-product">
                        {% if form.instance.id %}Обновить{% else %}Создать{% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>