<tr>
    <td class="text-center"><b>{{ product.id }}</b></th>
    <td class="text-center">{{ product.name }}</td>
    <td class="text-center">{{ product.img }}</td>
    <td class="text-center">{{ product.description }}</td>
    <td class="text-center">{{ product.price }}</td>
    <td class="text-center">
        <a href="{% url 'api/products' product.id %}" class="get-product-form">Изменить</a>
    </td>
    <td class="text-center">
        <a href="{% url 'api/products' product.id %}" class="delete-product">Удалить</a>
    </td>
</tr>