<tr>
    <td class="text-center"><b>{{ product.id }}</b></th>
    <td class="text-center">{{ product.name }}</td>
    <td class="text-center">{{ product.type }}</td>
    <td class="text-center">{{ product.price }} ₽</td>
    <td class="text-center">
        <a href="{% url 'api/products' product.id %}" class="get-product-form">
            <i class="fas fa-edit"></i>
        </a>
    </td>
    <td class="text-center">
        <a href="{% url 'api/products' product.id %}" class="delete-product">
            <i class="fas fa-trash"></i>
        </a>
    </td>
</tr>